

body{
    padding: 12px;
}
h1{

}

.nav-links{

}

.alert-info{

}

.hidden-on-desktop{

}

.header-img{

}

.main{

}

.sub-section{

}

@media screen and (max-width:576px) {
     body{
         text-align: center;
         padding: 15px;
     }

    h1{
    font-size: 4rem;
        text-align: center;
        justify-content: center;
    }

    .nav-links{

    }

    .alert-info{

    }

    .hidden-on-desktop{

    }

    .header-img{

    }

    .main{

    }

    .sub-section{

    }
}